{% extends "articles/base.html" %}

<!-- static files -->
{% load static %}

<!-- content -->
{% block content %}

<!-- crispy form -->
{% load crispy_forms_tags %}
<!--Password Reset Confirm-->
<div class="container p-5">
  <h2 class="font-weight-bold mt-3">Xhevo: Password Reset Confirm</h2>
  <hr />
  <p>Please enter your new password.</p>
  <form method="POST">
    {% csrf_token %}
    <!-- form -->
    {{ form|crispy }}
    <br />
    <button class="btn btn-primary" type="submit">Reset password</button>
  </form>
</div>

{% endblock %}
