{% extends "articles/base.html" %}

<!-- static files -->
{% load static %}

<!-- content -->
{% block content %}

<!-- crispy forms -->
{%load crispy_forms_tags %}
<h3>Créer un nouvel article</h3>
<hr />
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- form -->
        {{ form|crispy }}
        <hr />
        <input type="submit" value="Soumettre" class="btn btn-success" />
      </form>
    </div>
  </div>
</div>

<script src="{% static 'js/slugify.js' %}"></script>
{% endblock %}
