{% extends "articles/base.html" %} {% load static %} {% block content %}

<h3>Modifier cet article</h3>
<hr />
{%load crispy_forms_tags %}
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form|crispy }}
        <hr />
        <a href=" {% url 'articles:index' %} " type="button"class="btn btn-info">Annuler</a>
        <input type="submit" value="Soumettre" class="btn btn-warning"/>
      </form>
    </div>
  </div>
</div>

{% endblock %}
